body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 420px;
    margin-right: 420px;
    background-color: rgb(219, 219, 219);
    border-radius: 15px;
}

.title h1 {
    text-align: center;
    color: black;
}

.main--content {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 220px;
    margin-right: 220px;
    background-color: rgb(219, 219, 219);
    border-radius: 15px;
}