body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    color: #333;
}

main {
    flex: 1;
    margin: 20px 12%;
    position: relative;
    z-index: 1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 15px;
    padding: 5px 10px;
    background-color: rgba(219, 219, 219, 0.8);
    border-radius: 15px;
    max-width: 700px;
}

.title h1 {
    text-align: center;
    color: black;
}

.preview--paragraph {
    text-align: justify;
    padding: 0 2%;
    font-size: 1rem;
}

.preview--line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(45, 104, 231);
    width: 95%;
    border: 3px solid rgb(26, 72, 170);
    border-radius: 5px;
}

.welcome--container {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(219, 219, 219, 0.8);
    border-radius: 15px;
    padding: 10px 15px;
    min-width: 100%;
}

.welcome--container {
    display: block;
    margin: 20px;
    padding: 10px;
    background-color: rgba(219, 219, 219, 0.8);
    border-radius: 15px;
}

.whitebox {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgba(219, 219, 219, 0.8);
    border-radius: 15px;
    padding: 5px;
    margin: 2% 4%;
    min-height: 120px;
}

.whitebox h3 {
    text-align: center;
    color: blue;
    font-size: 28px;
}

.whitebox p {
    text-align: center;
    margin-top: 4px;
    font-size: 16px;
}

.card--container {
    margin-top: 300px;
}

.card--container {
    margin-top: 30px;
}